<!DOCTYPE HTML>
<html>
  <head>
    <title>Error 404 - MYR Producciones</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" sizes="256x256" href="favicon.ico">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[ if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>
    <div id="page-wrapper">

      <!-- Header -->
        <header id="header">
          <h1 id="logo"><a href="index.html">MYR Producciones</a></h1>
          <nav id="nav">
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li>
                <a href="#">Diseños</a>
                <ul>
                  <li><a href="left-sidebar.html">Barra izquierda</a></li>
                  <li><a href="right-sidebar.html">Barra derecha</a></li>
                  <li><a href="no-sidebar.html">Sin barra</a></li>
                  <li><a href="#" class="button special icon fa-arrow-left">Submenu social</a>
                    <ul>
                      <li><a href="https://www.facebook.com/myrproduccioness"><span class="icon fa-facebook">&nbsp;Facebook</span></a></li>
                      <li><a href="https://www.twitter.com/myrproduccione2"><span class="icon fa-twitter">&nbsp;Twitter</span></a></li>
                      <li><a href="https://www.instagram.com/myrproducciones"><span class="icon fa-instagram">&nbsp;Instagram</span></a></li>
                      <li><a href="mailto:myrproducciones20@gmail.com"><span class="icon fa-envelope">&nbsp;Mail</span></a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="interface.html">Interface</a></li>
              <li><a href="login.html" class="button">Iniciar Sesión</a></li>
              <li><a href="register.html" class="button special">Registrarse</a></li>
            </ul>
          </nav>
        </header>

      <!-- Main -->
        <div id="main" class="wrapper center">
          <h3>404: Recurso no encontrado!!!</h3>
          <p>Parece que la página que está buscando no se encuentra en este directorio</p>
        </div>

      <!-- Footer -->
        <footer id="footer">
          <ul class="icons">
            <li><a href="https://www.facebook.com/myrproduccioness" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.twitter.com/myrproduccione2" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/myrproducciones" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="mailto:myrproducciones20@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; 2020 - MYR Producciones. Todos los derechos reservados.</li>
            <li>Diseño: <a href="https://www.jonlemofficial.com">@JonLemOfficial</a></li>
          </ul>
        </footer>

      </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
  </body>
</html>