<footer id="footer">
  <ul class="icons">
    <li><a href="https://www.facebook.com/myrproduccioness" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.twitter.com/myrproduccione2" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.instagram.com/myrproducciones" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="mailto:myrproducciones20@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; 2020 - MYR Producciones. Todos los derechos reservados.</li>
    <li>Diseño: <a href="https://www.jonlemofficial.com">@JonLemOfficial</a></li>
  </ul>
</footer>