<!DOCTYPE HTML>
<html>
  <head>
    <%- include('./../_inc/head') %>
  </head>
  <body>
    <div id="page-wrapper">

      <!-- Header -->
      <%- include('./../_inc/header') %>

      <!-- ForgotForm -->
        <section class="wrapper center">
          <div id="main">
            <h3>Reinicio de contraseña</h3>
            <span class="image">
                <img style="width: 180px; height: 180px" src="images/pic01.png" alt="MYR-logo" />
              </span>
            <form action="#" method="post">
              <div class="row uniform">
                <div>
                  <h4>Ingrese su correo electrónico para reestablecer su contraseña</a></p>
                  <p style="font-size: 0.8em; margin: -0.2em; line-height: 1.2em; color: #ffffff3a">Por motivos de seguridad un mensaje de confirmación con el reinicio de contraseña será enviado a su correo electrónico. Por favor escriba su correo para enviar el mensaje</p>
                </div>
                <div class="12u$">
                  <input type="text" name="username" id="username" value="" placeholder="correo electrónico" />
                </div>
                <div class="12u$">
                  <ul class="actions">
                    <li><button type="submit" class="special">Enviar</button></li>
                  </ul>
                </div>
                <div>
                </div>
              </div>
            </form>
          </div>
        </section>


      <!-- Footer -->
      <%- include('./../_inc/footer') %>

      </div>

    <!-- Scripts -->
    <%- include('./../_inc/scripts') %>
  </body>
</html>