<!DOCTYPE HTML>
<html>
	<head>
		<%- include('./_inc/head') %>
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('./_inc/header', {sesion: true, register: true}) %>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>MYR Producciones</h2>
							<p>La productora de eventos número 1.<br />
							La más grande y popular de toda Venezuela.</p>
						</header>
						<span class="image">
              <img src="/images/pic01.png" alt="MYR-logo" />
            </span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main">
            <img src="/images/pic02.jpg" alt="" />
          </span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Manejo de artistas, composiciones y producción musical</h2>
										<p>Integración en equipo tanto de cantantes como DJs, hasta productores profesionales</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
									Blandit orci porttitor semper. Arcu phasellus tortor enim mi
									nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
									augue varius tempus lobortis porttitor accumsan consequat
									adipiscing lorem dolor.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									ipsum dolor nullam.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main">
            <img src="/images/pic03.jpg" alt="" />
          </span>
					<div class="content">
						<header>
							<h2>Edición de videos y producciones audiovisuales</h2>
							<p>Composiciones visuales para llevar el impulso artístico más allá del límite</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus. Integer mi sed nascetur cep aliquet augue.</p>
						<ul class="actions">
							<li><a href="#" class="button">Más info</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom">
            <img src="/images/pic04.jpg" alt="" />
          </span>
					<div class="content">
						<header>
							<h2>Desarrollo web, Marketing y redes sociales</h2>
							<p>Las herramientas web online principales para que tú musica llegue a más personas</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor</p>
						<ul class="actions">
							<li><a href="#" class="button">Más info</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Contactanos</h2>
							<p>Envianos tu email y recibiras notificaciones y novedades acerca de lo último en eventos de MYR Producciones</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)">
                  <input type="email" name="email" id="email" placeholder="correo electrónico" />
                </div>
								<div class="4u$ 12u$(xsmall)">
                  <input type="submit" value="Enviar" class="fit special" />
                </div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
			<%- include('./_inc/footer') %>

		</div>

		<!-- Scripts -->
		<%- include('./_inc/scripts') %>

	</body>
</html>